@charset "UTF-8";

@import "~primereact/resources/themes/saga-blue/theme.css";
@import "~primereact/resources/primereact.min.css";
@import "~primeicons/primeicons.css";

// 1. Configuration and helpers
@import "abstracts/variables", "abstracts/functions", "abstracts/mixins";

// 2. Vendors
@import "vendors/normalize";

// 3. Base stuff
@import "base/base", "base/fonts", "base/typography", "base/helpers";

// 4. Layout-related sections
@import "layout/header", "layout/footer", "layout/register", "layout/sliderForm",
    "layout/category", "layout/newCompanies";

// 5. Components
@import "components/button";
@import "components/header";
@import "components/searchBar";

// 6. Page-specific styles
@import "pages/home", "pages/createAccount";

// 7. Themes
@import "themes/default";
