.header {
    background-color: #33445B;
    height: 100px;

    &__container {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__logo {
        margin-right: 20px;

        @include respond-to("large") {
            margin-right: 10px;
        }
    }

    .button {
        margin-left: 40px;

        @include respond-to("large") {
            margin-left: 10px;
        }
    }
}
