.logo {
    display: inline-block;
    //background-image: url('./assets/images/logo/lokando-logo-white.svg');
    background-image: url('../logo/lokando-logo-white.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    max-width: 200px;
    height: 100%;
    max-height: 60px;
}
