.form {
    width: 100%;
    position: relative;

    &__switch {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;

        @include respond-to("medium") {
            flex-direction: column;
        }

        .switch__login,
        .switch__register {
            background-image: $blue-gradient;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px 0px 0px 20px;
            border: 0;
            padding: 0.5rem 1rem;
            font-weight: bold;
            cursor: pointer;
            color: $white;
            filter: opacity(0.8);
            transition: all 0.2s ease-in-out;
            font-size: 1rem;

            @include respond-to("medium") {
                margin-top: 2rem;
            }

            &:focus {
                outline: 0;
            }
        }

        .switch__register {
            border-radius: 0px 20px 20px 0px;
        }
    }

    &__register,
    &__login {
        .register__item,
        .login__item {
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: 1.5rem 10%;

            &:nth-child(5) {
                flex-direction: row;
                align-items: center;

                .item__input {
                    display: none;
                }

                .item__label--checkbox {
                    width: 15px;
                    height: 15px;
                    background-color: $white;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    margin-bottom: 0.4rem;
                    margin-right: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    & > i {
                        font-size: 1.2rem;
                        color: $blue;
                    }
                }
            }

            .item__label {
                font-size: 1.3rem;
                color: $white;
                margin-bottom: 0.5rem;
                cursor: pointer;
            }

            .item__input {
                border: 0;
                background: transparent;
                border-bottom: 0.1rem solid $gray;
                color: $white;
                padding: 0.5rem 0.5rem 0.5rem 0;

                &:focus {
                    outline: 0;
                }

                &::placeholder {
                    color: $gray;
                }
            }

            .item__alert {
                color: $white;
                padding: 1rem 0;
            }
        }
    }
}
