// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$green: #6fe2cc;
$blue: #243042;
$white: #fff;
$black: #000;
$gray: #5e6b7c;
$gray-background: #cecece41;
$gray-border: #cecece;

$green-gradient: linear-gradient($green, #50c3b8);
$blue-gradient: linear-gradient(#33445b, $blue);
